# --- OS junk ---
.DS_Store
._*
.Spotlight-V100
.Trashes
Thumbs.db
desktop.ini
~$*               # temp Office files

# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.mypy_cache/
.pytest_cache/
.ipynb_checkpoints/
.venv/
venv/
.env
.env.*

# --- R (you use it sometimes) ---
.Rhistory
.RData
.Rproj.user/

# --- Node/Front-end (you do React/Vite) ---
node_modules/
dist/
build/

# --- Data output forlder
data/

# --- IDEs ---
.vscode/
.idea/

# --- Data / outputs (tune as needed) ---
*.csv
*.tsv
*.xlsx
*.png
*.jpg
*.jpeg
*.pdf
*.zip
*.gz
*.tar
*.log
*.docx
*.pptx
*.xlsx

# --- Bioinformatics project-specific (optional) ---
*.h5ad
*.rds
*.rdata
